.animation-container{
	z-index: 1;
	margin-top: -14vh;
	margin-left: 1vw;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animation-container .loader
{
		z-index: 0;
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	animation: spin 4s linear infinite;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(360deg);
	}
}

/*Adds the trail behind the circle*/
.animation-container .loader::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
	background-size: 200px 360px;
	background-repeat: no-repeat;
	border-top-left-radius: 200px;
	border-bottom-left-radius: 200px;
 /*Edit these to make trail only follow the edge?*/
	
}

.animation-container .loader::after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;
	background: #00fff9; /*Orb background*/
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0 0 10px #00fff9,
				0 0 20px #00fff9,
				0 0 30px #00fff9,
				0 0 40px #00fff9,
				0 0 50px #00fff9,
				0 0 60px #00fff9,
				0 0 70px #00fff9,
				0 0 80px #00fff9,
				0 0 90px #00fff9,
				0 0 100px #00fff9;
}

.animation-container .loader span{

	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #000; /*Black circle*/
	border-radius:50%;
	
}



.spinner {
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: -26vh;
  margin-left: 3vw;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
	  border: 3px solid rgba(255, 255, 255, 0.1);
	    border: 4px solid rgba(255, 255, 255, 0.1);
		  border: 5px solid rgba(255, 255, 255, 0.1);
		    border: 6px solid rgba(255, 255, 255, 0.1);
			  border: 8px solid rgba(255, 255, 255, 0.1);
  /*-webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%); /*This makes the border very transparent, try to change it to create sharp points*/
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(-5deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
	filter: blur(1px); 
  content: "";
  z-index: 1;
  
  position: absolute;
  top: 0;
  left: 0;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .6;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 2s linear infinite;

}

.spinner:before {
  border-top-color: #00fff9;
}

.spinner:after {
  border-top-color: #00fff9;
  width: 300px;
  height: 300px;
  animation-delay: 0.8s;
}

@keyframes spinner-spin {
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
}

/* Code for the transition animation. */

.cover {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
	opacity: 0;
	background-color: black;
}

.cover.slide-in {

	animation: slide-in 0.5s ease-in-out forwards;
}

.cover.slide-out {
	animation: slide-out 0.5s ease-in-out forwards;
}

@keyframes slide-in{
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes slide-out{
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}